.about {
  //   margin-top: 100px;
  padding: 150px 20px;
  .about__heading {
    line-height: 30px;
    margin: 40px 0 30px 0;
    font-size: 26px;
  }
  .about__para {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 40px;
  }
}
