// Buttons

.btn {
  width: 180px;
  text-align: center;
  padding: 15px;
  border-radius: 29px;
  font-size: 12px;
  letter-spacing: 1.3px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  display: block;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  margin-top: 20px;

  &.btn--orange {
    background-color: $primary;
    border: 1px solid $primary;
    color: $white;

    &:hover {
      background-color: $white;
      color: $primary;
    }
  }

  &.btn--center {
    margin: 0 auto;
  }
}

.btn-text {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;

  .btn-text__icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}
