.carousel {
  margin-top: 80px;
  .carousel__heading {
    display: inline-block;
    font-size: 22px;
    margin-bottom: 60px;

    .carousel__heading--icon {
      display: inline-block;
      width: 23px;
      height: 23px;
      margin-right: 15px;
      margin-bottom: -4px;
    }
  }
  @media only screen and (min-width: $breakpoint-desktop) {
    margin-top: 80px;

    .carousel__heading {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 100px;
      .carousel__heading--icon {
        width: 30px;
        height: 30px;
        margin-right: 18px;
      }
    }
  }
}

.swiper-container {
  max-width: 1400px;
  width: 100%;
  height: 500px;
  overflow-y: visible;
  .swiper-slide {
    position: relative;
    padding: 0px 25px;

    .swiper-slide__image {
      height: 230px;
      position: relative;
      bottom: -100px;
      margin-top: -100px;
    }
    .swiper-slide__content {
      background-color: $light-blue;
      padding: 100px 30px 30px 30px;
      height: 290px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      transition: 0.3s ease-in-out all;
      p {
        line-height: 28px;
        font-size: 18px;
        margin: 0;
      }
      .swiper-slide__price {
        line-height: 22px;
        font-size: 16px;
        letter-spacing: 1.8px;
        margin: 16px 0;
      }
      @media only screen and (min-width: $breakpoint-desktop) {
        padding: 100px 60px 0px;
      }
    }
    @media only screen and (min-width: $breakpoint-desktop) {
      &.swiper-slide-active {
        .swiper-slide__content {
          height: 320px;
        }
      }
      .btn {
        opacity: 0;
      }
      &:hover {
        .btn {
          opacity: 1;
        }
      }
    }
  }

  .control {
    display: none;
    @media only screen and (min-width: $breakpoint-desktop) {
      display: block;
      img {
        width: 18px;
      }
      &:after {
        display: none;
      }
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $black;
  }
}
