.carousel {
  margin-top: 80px;
  .carousel__heading {
    display: inline-block;
    font-size: 22px;
    margin-bottom: 60px;

    .carousel__heading--icon {
      display: inline-block;
      width: 23px;
      height: 23px;
      margin-right: 15px;
      margin-bottom: -4px;
    }
  }
  @media only screen and (min-width: $breakpoint-desktop) {
    margin-top: 80px;

    .carousel__heading {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 100px;
      .carousel__heading--icon {
        width: 30px;
        height: 30px;
        margin-right: 18px;
      }
    }
  }
}

.owl-carousel {
  max-width: 1400px;
  width: 90%;
  height: 500px;
  overflow-y: visible;
  margin: 0 auto;
  .owl-item {
    position: relative;
    padding: 0px 10px;

    .slide__image {
      height: 230px;
      position: relative;
      bottom: -100px;
      width: auto;
      margin: -100px auto auto auto;
    }
    .slide__content {
      background-color: $light-blue;
      padding: 100px 30px 30px 30px;
      height: 290px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      transition: 0.3s ease-in-out all;
      p {
        line-height: 28px;
        font-size: 18px;
        margin: 0;
      }
      .slide__price {
        line-height: 22px;
        font-size: 16px;
        letter-spacing: 1.8px;
        margin: 16px 0;
      }
      @media only screen and (min-width: $breakpoint-desktop) {
        padding: 100px 60px 0px;
      }
    }
    @media only screen and (min-width: $breakpoint-desktop) {
      &.center {
        .slide__content {
          height: 340px;
        }
      }
      .btn {
        opacity: 0;
      }
      &:hover {
        .btn {
          opacity: 1;
        }
      }
    }
  }

  .owl-nav {
    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      @media only screen and (min-width: $breakpoint-desktop) {
        top: 20%;
      }
    }
    .owl-prev {
      left: -40px;
      @media only screen and (min-width: $breakpoint-desktop) {
        left: -60px;
      }
    }
    .owl-next {
      right: -40px;
      @media only screen and (min-width: $breakpoint-desktop) {
        right: -60px;
      }
    }
    img {
      width: 50px;
      height: 50px;
      padding: 10px;
    }
    @media only screen and (min-width: $breakpoint-desktop) {
      display: block !important;
    }
  }

  .owl-dots {
    margin-top: 20px;
    .owl-dot {
      width: 10px;
      height: 10px;
      background: #e6e6e6;
      border-radius: 50px;
      margin: 5px;
      &.active {
        background: $black;
      }
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $black;
  }
}
