header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  // margin-top: 15px;
  padding: 40px 30px;

  .header__container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    z-index: 30;
    .header__logo {
      width: 100%;
      max-width: 100px;
    }
    @media only screen and (min-width: $breakpoint-tablet) {
      width: 100px;
    }
  }
  @media only screen and (min-width: $breakpoint-desktop) {
    padding: 30px 70px;
  }
}
